.testimonials-section
    background: #F6F6F9
    padding: 80px 0 60px

.card-testimonials 
    padding: 32px 40px
    background: $bg-white url("../img/common/quites.svg") no-repeat right 40px top 20px / 86px 74px
    box-shadow: $shadow2
    border-radius: 4px
    margin-bottom: 28px
    .avatar 
        +box(60px)