.nav-breadcrumbs
  background: $bg-white 
.breadcrumbs 
  padding: 20px 0
  +d-flex(flex-start,center)
  &__item
    +d-flex(center)
    svg 
      width: 10px
      stroke-width: 1.4px
      margin-right: 10px
  &__link
    display: block
    color: $brown
    margin-right: 10px
    min-width: 11px
    position: relative
    font-size: 14px
    line-height: 20px
    min-height: 20px
  &__text 
    color: $black
    font-size: 14px
    line-height: 20px

@media only screen and (max-width : 767px)
  .breadcrumbs__item 
    display: none
    .breadcrumbs__link span 
      display: none
    &:first-child, &:last-child
      display: flex
      .breadcrumbs__link 
        span
          display: block
        &:before 
          content: none
    &:nth-child(2)
      display: flex
      .breadcrumbs__link 
        &:before 
          content: '...'
          position: absolute 
          left: 0 
          bottom: 0
          font-size: 14px
          line-height: 20px
          font-family: "Sora", sans-serif
          font-style: normal
          font-weight: normal
          color: $black