.main-case
    background: $bg-blue-navy url("../img/common/bg2.jpg") no-repeat center / cover
    min-height: calc(100vh - 56px)
    &_logo
        +box(139px,142px)
    &_container 
        max-width: 718px
        padding: 15px 16px 40px
        min-height: calc(100vh - 56px - 125px)

.case-select
    background: $bg-blue-navy3
    border: 1px solid rgba($white, 0.22)
    border-radius: 4px
    padding: 19px 20px
    display: block
    font-size: 16px
    line-height: 20px
    color: $white 
    transition: all 0.3s ease 
    &:hover
        background: $bg-blue-navy4
        border-color: $green

@media only screen and (max-width : 767px)
    .main-case_logo
        +box(120px,123px)
    .main-case
        background-image: url("../img/common/bg2-mob.jpg")
    .main-case_container
        padding: 40px 16px
@media only screen and (max-width : 539px)
    .main-case_container
        min-height: calc(100vh - 123px - 92px)
    .main-case
        min-height: calc(100vh - 92px)