.form
    &-label
        font-size: 12px
        line-height: 16px
        color: $white
        opacity: 0.3
        margin-bottom: 4px

.message
    background: rgba(68, 182, 75, 0.2)
    border: 1px solid $green
    border-radius: 100px
    padding: 7px 15px 7px 8px
    width: calc(100% - 163px - 20px)
    &-icon 
        +box(36px)
        border-radius: 50% 
        background: $bg-green
        border: 1px solid $green5
        margin-right: 8px
        flex-shrink: 0