.first-section 
    background: $bg-blue-navy url("../img/common/bg.jpg") no-repeat center / cover
    min-height: 800px 
    +d-flex(center)
    padding-bottom: 60px

.about-block 
    background: $bg-white
    box-shadow: $shadow2
    border-radius: 4px
    padding: 40px 20px 20px 20px
    margin-top: -90px 
    &_cards 
        background: $bg-gray
        border: 1px solid $gray-100-1
        border-radius: 4px
        padding: 40px 0
        margin-top: 60px

.card-about
    width: 25%
    padding: 0 44px
    border-right: 1px solid $gray-100
    &:last-child
        border: none
    &_border 
        border-radius: 50%
        width: 68px
        height: 68px
        border: 1px solid $green
        margin: 0 auto 20px
    &_title 
        font-weight: 200
        font-size: 44px
        line-height: 56px
    svg 
        fill: none
        stroke: $green
        width: 35px 
        height: 100% 
        margin: 0 auto

.second-section
    padding-bottom: 80px

.third-section
    background: $bg-blue-navy
    padding: 50px 0 24px

.fourth-section
    background: $bg-gray-100-1
    padding: 120px 0 30px
    border-bottom: 1px solid $gray-100

.fifth-section
    background: $bg-gray
    padding: 120px 0 295px
    position: relative
    z-index: 1
    overflow: hidden
    &:before 
        content: ''
        position: absolute 
        left: 0 
        bottom: 0
        height: 270px 
        width: 100%
        background: $gradient
        z-index: -1

.img-union
    +centerY 
    right: -68px
    +box(550px,560px)
    z-index: -1

.img-shield
    +box(288px,260px)
    +centerY 
    left: -60px
    z-index: -1

.sixth-section
    background: $bg-blue-navy
    padding-bottom: 80px

@media only screen and (min-width : 1200px)
    .fifth-section .container
        max-width: 1660px
        padding: 0 60px 0 100px      
@media only screen and (max-width : 1300px)
    .card-about
        padding: 0 20px
@media only screen and (max-width : 1199px)
    .icon-phone
        +box(14px)
    .card-about
        width: 50%
@media only screen and (max-width : 991px)
    .fifth-section
        padding-bottom: 230px
@media only screen and (max-width : 767px)
    .first-section 
        background-image: url(../img/common/bg-mobile.jpg)
        min-height: 573px
    .about-block
        margin-top: -39px
        padding: 28px 16px 12px
        .fs-24 
            font-size: 20px 
            line-height: 32px
    .about-block_cards
        margin-top: 28px
        padding: 0 12px
    .card-about
        width: 100% 
        border: none 
        border-bottom: 1px solid $gray-100
        padding: 28px 0
    .second-section
        padding-bottom: 40px
    .third-section
        padding: 28px 0 14px
    .fourth-section
        padding-top: 32px
        .fs-24 
            font-size: 20px
            line-height: 32px
        .dots
            padding-top: 0
    .fifth-section
        padding: 40px 0 165px
@media only screen and (max-width : 575px)
    .first-section
        padding-bottom: 18px
        .btn 
            width: fit-content
            margin: 0 auto 50px
    .fifth-section
        .fs-24
            font-size: 20px
            line-height: 32px
    .avatar
        +box(72px)
    .sixth-section
        padding-bottom: 28px