header.header2
    a.btn-phone.d-lg-none.flex-center-between.bg-green
        span.fs-10.text-up.l-t-4 Free case consultation
        span.align-items-center.fw-bold.fs-14
            +icon("phone")
            |800 604 0466
    .header2-container
        .flex-center-between.header2-row
            .w-33
                button.close(type="button")
                    +icon("close")
            a.logo(href="#") 
                img(src="img/logo/logo-name.svg", alt="logo")  
            .w-33
                .flex-lg-center-end.d-none  
                    .text-right.c-white.mr-16
                        p.fs-10.c-white.l-t-4.text-up Free case consultation
                        p.fs-24.fw-semi.lh-28 800 604 0466
                    a.circle.big(href="tel:8006040466") 
                        +icon("phone","c-white")