@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)   
    .flex-xl-center-end
        +d-flex(center, flex-end)
    .d-xl-block
        display: block
    .d-xl-none
        display: none
    .flex-xl-center-between
        +d-flex(space-between, center)
    .flex-xl-wrap
        flex-wrap: wrap
    .mr-xl-16
        margin-right: 16px
    .w-xl-50
        width: 50%
    .flex-xl-row  
        display: flex 
        flex-direction: row
    .align-xl-items-center 
        display: flex 
        align-items: center
    .vertical-xl
        width: 1px
        height: 56px
        margin: 0 40px
    .mb-xl-135
        margin-bottom: 135px
    .pt-xl-80
        padding-top: 80px
    .pt-xl-0 
        padding-top: 0
    .mb-xl-0
        margin-bottom: 0
@media only screen and (min-width : 992px)     
    .w-lg-50
        width: 50% 
    .w-lg-56
        width: 56% 
    .w-lg-44 
        width: 44%
    .pl-lg-40
        padding-left: 40px 
    .pl-lg-20   
        padding-left: 20px  
    .pl-lg-14
        padding-left: 14px  
    .pr-lg-14 
        padding-right: 14px    
    .pr-lg-40
        padding-right: 40px 
    .mb-lg-80 
        margin-bottom: 80px
    .mb-lg-48
        margin-bottom: 48px
    .mb-lg-8
        margin-bottom: 8px
    .mb-lg-0
        margin-bottom: 0
    .mt-lg-24
        margin-top: 24px
    .d-lg-block
        display: block
    .d-lg-none 
        display: none
    .flex-lg-center-end
        +d-flex(flex-end,center)
    .align-item-lg-start 
        +d-flex(flex-start,flex-start)
    .d-lg-flex 
        display: flex
    .flex-lg-column
        display: flex 
        flex-direction: column
    .flex-lg-row
        display: flex 
        flex-direction: row
    .pb-lg-8 
        padding-bottom: 8px
    .ml-lg-auto
        margin-left: auto
@media only screen and (min-width : 768px)
    .w-md-50 
        width: 50%
    .mb-sm-48
        margin-bottom: 48px 
    .my-md-40
        margin-top: 40px 
        margin-bottom: 40px 
    .my-md-36
        margin-top: 36px 
        margin-bottom: 36px 
    .flex-md-nowrap
        display: flex
        flex-wrap: nowrap
    .flex-md-center-between 
        +d-flex(space-between, center) 
    .flex-md-center-center
        +d-flex(center, center) 
    .d-md-block
        display: block
    .d-md-none
        display: none
    .pb-md-16
        padding-bottom: 16px
    .pb-md-24
        padding-bottom: 24px
    .pb-md-36
        padding-bottom: 36px
    .pb-md-50 
        padding-bottom: 50px
    .mb-md-60
        margin-bottom: 60px
    .mb-md-50 
        margin-bottom: 50px
    .mb-md-40 
        margin-bottom: 40px
    .mb-md-32 
        margin-bottom: 32px
    .mb-md-48 
        margin-bottom: 48px
    .mb-md-36
        margin-bottom: 36px
    .mb-md-30
        margin-bottom: 30px
    .mb-md-28
        margin-bottom: 28px
    .mb-md-20 
        margin-bottom: 20px 
    .mb-md-24
        margin-bottom: 24px
    .mb-md-0
        margin-bottom: 0
    .pt-md-0
        padding-top: 0
    .pt-md-28
        padding-top: 28px
    .pt-md-80
        padding-top: 80px
    .pt-md-100
        padding-top: 100px
    .mt-md-40
        margin-top: 40px
    .mt-md-80
        margin-top: 80px
    .pt-md-12 
        padding-top: 12px
    .py-md-24
        padding-top: 24px 
        padding-bottom: 24px
    .pl-md-14
        padding-left: 14px
    .text-md-left
        text-align: left
@media only screen and (min-width : 576px)
    .flex-sm-center-center
        +d-flex(center,center)
    .mt-sm-80
        margin-top: 80px
    .mt-sm-26 
        margin-top: 26px
    .mb-sm-80 
        margin-bottom: 80px
    .mb-sm-0
        margin-bottom: 0
    .mb-sm-20
        margin-bottom: 20px
    .mb-sm-24
        margin-bottom: 24px
    .mb-sm-16
        margin-bottom: 16px
    .ml-sm-20
        margin-left: 20px
    .mr-sm-20 
        margin-right: 20px
    .mr-sm-28
        margin-right: 28px
    .d-sm-block 
        display: block
    .d-sm-none 
        display: none
    .w-sm-50
        width: 50%
    .pl-sm-15
        padding-left: 15px
    .pt-sm-12
        padding-top: 12px
    .pt-sm-30
        padding-top: 30px
    .pt-sm-40
        padding-top: 40px
    .mb-sm-12
        margin-bottom: 12px
    .mb-sm-40
        margin-bottom: 40px
    .hide-sm
        opacity: 0
        transition: opacity 0.3s ease 
    .pb-sm-20
        padding-bottom: 20px
    .pb-sm-60 
        padding-bottom: 60px
    .my-sm-40 
        margin-top: 40px 
        margin-bottom: 40px
    .pr-sm-6
        padding-right: 6px
    .pl-sm-6
        padding-left: 6px
    .pr-sm-14
        padding-right: 14px 
    .pl-sm-14
        padding-left: 14px
    .fs-sm-16 
        font-size: 16px
        line-height: 26px
    .fs-sm-40
        font-size: 40px
        line-height: 48px
    .fs-sm-24
        font-size: 24px
        line-height: 36px
    .fs-sm-20
        font-size: 20px
        line-height: 28px
    .w-sm-fit-content
        width: fit-content
@media only screen and (max-width : 1199px)
    .container 
        max-width: 991px

@media only screen and (max-width : 991px)
    .container 
        max-width: 767px
          
    .table
        th, td 
            &:first-child
                min-width: 200px
    .img-union2  
        left: auto 
        right: -67px 
        +box(153px,156px)
@media only screen and (max-width : 767px)
    .container 
        max-width: 575px
    h1, .title1
        font-size: 28px
        line-height: 40px
    h2, .title2
        font-size: 32px
        line-height: 44px
    
    .table
        margin-left: -16px 
        margin-right: -16px 
        margin-bottom: 40px
        width: calc(100% + 32px)
        border: none
        td, th 
            padding: 20px 16px
            &:before 
                width: calc(100% - 32px)
        td 
            display: block
            padding-top: 24px
            padding-left: 16px
            padding-right: 16px

            &:first-child
                padding-bottom: 0
                &:before
                    content: none
            &:last-child
                padding-top: 12px
                padding-bottom: 24px
    .block 
        padding: 40px 0
    
    .first2-section
        min-height: 260px
        background-image: url("../img/common/bg5.jpg")
        h1.title2 
            font-size: 40px 
            line-height: 60px
    .fs-48
        font-size: 36px
        line-height: 52px