.lawyer
    .align-items-center.lawyer-row 
        img.lawyer-avatar.mr-16(src="img/common/avatar.jpg", alt="avatar")
        div 
            p.fs-12.c-white.text-up.c-gray-200.mb-4 Credit Reporting Errors
            h4.fs-24.fw-semi.c-white Daniel C. Cohen
    .text.c-white.my-28 Daniel C. Cohen is a founding partner of Consumer Attorneys LLP and co-chairs the firm’s Consumer Finance Litigation practice. Mr. Cohen also manages the firm’s client intake and development efforts.
    a.btn(href="#") Get in touch