h6.title6.left.mb-md-20.mb-10 
    span.c-green.bg-blue-navy News
.flex-center-between.pb-md-36
    h2.title2.c-white Latest Articles
    a.btn.btn3.d-md-block.d-none(href="#") View all news
.flex-wrap.justify-content-center 
    - 
        cardArticles = [
            {
                title: 'What does mixed mean on credit report deletion ',
                text: 'Sometimes a consumer’s credit report can get dragged down by dead weight.',
                img: 'img.jpg',
                date: '20.01.2021'
            },
            {
                title: 'When an employer does a background check',
                text: 'How do you know if you failed an employer background check? And what do if there are errors in my backgroun...',
                img: 'img.jpg',
                date: '20.01.2021'
            },
            {
                title: 'How to win a debt collection lawsuit',
                text: 'The fair debt collection practices act prohibits which of the following practices?',
                img: 'img.jpg',
                date: '20.01.2021'
            },
            {
                title: 'How does a landlord do a background check',
                text: 'Automated housing discrimination: what do landlord look for in background checks?',
                img: 'img.jpg',
                date: '20.01.2021'
            }
        ]
    each val, index in cardArticles
        +cardArticle(val.title,val.text,val.img,val.date)

a.btn.btn3.d-sm-none.mt-28(href="#") View all news