.testimonial 
    .align-items-center.flex-wrap 
        .mb-24.align-items-center.user-review
            img.avatar.mr-sm-28.mr-16(src="img/common/avatar.jpg", alt="avatar")
            div
                p.fs-24 Camille Martin 
                p.fs-12.c-gray-200 Boston, Massachusetts
        p.text.mb-24.text-review Amazing firm! I worked predominantly with Daniel which was a great experience. He was very informative and stayed in contact with me throughout my case.
    .align-items-end
        hr.w-100.mb-0.d-sm-block.d-none 
        a.btn.ml-sm-20(href="#") Learn more 
        button.prev.slider-btn.ml-sm-20.ml-16(type="button")
            +icon("prev")
        button.next.slider-btn.ml-sm-20.ml-16(type="button")
            +icon("next")