.block-video
    .flex-center-center.z-2.relative
        button.btn-play(type="button")
            span.btn-play-border
            +icon("play")
        div 
            p.fs-12.text-up.c-green watch now
            p.fs-24.c-white Play video