extends layout/main-case

block variables
	-var title = 'Case Evaluation - step 1'

block content
	main.main.main-case
		include modules/header/header2
		.main-case_container.mx-auto.pt-md-80.pt-40
			.mx-auto.w-100
				h4.title4.text-center.c-white.pb-8.mb-md-40.mb-20  Select an option that describes your case:
				.pb-md-36.pb-16
					each val in ['My credit report has mistakes','My credit report states that I am deceased','I am the victim of Identity Theft','My background check has mistakes']
						a.mb-12.justify-content-between.case-select(href="#") 
							=val
							+icon("next","ml-16")
				a.btn.btn4.w-100.lh-38(type="#")
					+icon("arrow-left","mr-12") 
					| Previous step