extends layout/main-case

block variables
	-var title = 'Case Evaluation - step 3'

block content
	main.main.main-case
		include modules/header/header2
		.align-items-center.main-case_container.mx-auto.pt-40
			.w-100
				h4.title4.text-center.c-white.pb-8.mb-md-40.mb-20 Have you disputed the inaccurate reporting with the credit bureaus?
				.pb-md-36.pb-16.d-flex
					.w-50.pr-sm-6.pr-10
						a.mb-12.justify-content-between.case-select(href="#") Yes
							+icon("next","ml-16")
					.w-50.pl-sm-6.pl-10
						a.mb-12.justify-content-between.case-select(href="#") No
							+icon("next","ml-16")
				a.btn.btn4.w-100.lh-38(href="#")
					+icon("arrow-left","mr-12") 
					| Previous step