extends layout/main

block variables
	-var title = 'Главная страница'

block content
	main.main
		section.first-section
			.container.max-930 
				h1.title1.text-center Protecting consumers against debt collectors, background check companies, and credit reporting agencies.
				.flex-center-center.mt-sm-80.mt-40
					a.btn(href="#") Free Case Review
					button.btn-play(type="button")
						span.btn-play-border
						+icon("play")
					div 
						p.fs-12.text-up.c-green watch now
						p.fs-24.c-white Play video