extends layout/main

block variables
	-var title = 'Testimonials'
	-var sliderG = true

block content
	main.main.main-testimonials
		section.first2-section
			.container
				h1.title2.text-center Testimonials
	
