extends layout/main-case

block variables
	-var title = 'Contact details'

block content
	main.main.main-case
		include modules/header/header2
		.align-items-center.main-case_container.mx-auto.pt-40
			.mx-auto.w-100
				