extends layout/main

block variables
	-var title = 'Attorneys-Individual'
	-var sliderG = true

block content
	main.main.main-individual
		section.first2-section
			.container.text-center
				p.fs-20.c-white.mb-8 Attorneys
				h1.title2 Daniel C. Cohen
		nav.nav-breadcrumbs
			.container
				ul.breadcrumbs
					+breadcrumbs-item('Home','#')
					+breadcrumbs-item('Attorneys','#')
					+breadcrumbs-item('Daniel C. Cohen')
		section.second2-section
			.container
				.flex-wrap.justify-content-between
					.col-left
						img.img-individual(src="img/common/image8.jpg", alt="image")
						form.form2 
							h6.title6.left.mb-md-32.mb-28
								span.c-green.bg-white Schedule a call
							.flex-wrap
								.w-sm-50.w-100
									p.relative.mb-12 
										label.fs-12.c-gray.mb-4 Full Name
										input(type="text" value="" placeholder="Full name" required) 
										span.error-message error-message
								.w-sm-50.w-100
									p.relative.mb-12 
										label.fs-12.c-gray.mb-4 Phone Number
										input(type="number" value="" placeholder="Phone number" required) 
										span.error-message error-message
								.w-sm-50.w-100
									p.relative.mb-12
										label.fs-12.c-gray.mb-4 Email
										input(type="email" value="" placeholder="Email address" required) 
										span.error-message error-message
								.w-sm-50.w-100
									p.mb-sm-12.mb-28 
										label.fs-12.c-gray.mb-4 Date
										span.relative.d-block.calendar
											input(type="date" value="" placeholder="Select date" required) 
											+icon("calendar")
										span.error-message error-message
								
							button.btn.btn5.ml-auto.flex-center-center.mt-sm-26(type="submit") 
								.circle.mr-16
									+icon("calendar")
								|Schedule a call

					.col-right
						h6.title6.left.mb-lg-48.mb-24
							span.fs-12.c-green.bg-gray-100-1 About

						p.fs-24.mb-28 Daniel C. Cohen is a founding partner of Consumer Attorneys LLP and co-chairs the firm’s Consumer Finance Litigation practice. Mr. Cohen also manages the firm’s client intake and development efforts.
						p.text.mb-28 Mr. Cohen has a proven record of effectively representing consumers across the United States in class action lawsuits, securing both monetary awards and non-monetary relief on their behalf in numerous cases. He also counsels visually-impaired individuals who believe that their rights under the Americans with Disabilities Act have been violated in both physical and digital spaces.
						p.text.mb-28 Mr. Cohen graduated from Arizona State University’s Sandra Day O’Connor College of Law and holds a bachelor of arts degree in the humanities from Thomas Edison State College. He is licensed to practice in New York and Arizona.
						p.text.mb-28 A nationally-recognized practitioner of consumer protection law, Mr. Cohen has been an active member of both the National Association of Consumer Advocates and the National Consumer Law Center since 2017.
						.flex-wrap.pt-12 
							.w-md-50.w-100
								.align-items-center.mb-28.pb-lg-8
									.circle.big.mr-12 
										+icon("education","c-dark")
									p Education
								ul.list.mb-28
									each val in ['Thomas Edison State College – B.A.','Sandra Day O’Connor College of Law, Arizona State University – J.D.']
										li.list-item.mb-12.fs-14=val
							.w-md-50.w-100.pl-md-14
								.align-items-center.mb-28.pb-lg-8
									.circle.big.mr-12 
										+icon("admissions","c-dark")
									p Admissions
								ul.list
									each val in ['Arizona','District of Arizona','New York','Eastern District of New York','Southern District of New York','Northern District of New York']
										li.list-item.mb-12.fs-14=val
		
		section.fourth2-section 
			.container 
				h6.title6.left.mb-md-20.mb-10 
					span.c-green.bg-white Practice Areas
				.flex-md-center-between.pb-md-36
					h2.title2.mb-24 Practice Areas
					a.btn.mb-md-24.mb-40(href="#") Explore our Practice Areas

				include layout/slider2

		section.team-section
			.container
				include layout/contact-us 
				.hidden-xy

					h6.title6.left.mb-md-20.mb-10 
						span.c-green.bg-gray Our team
					h2.title2.mb-md-28 Meet our team
					.w-100.slider-g
						.slider2
							.d-flex
								- 
									team = [
										{
											img: 'img2.jpg',
											name: 'Daniel C. Cohen',
											specialty: 'Founding Partner',
											text: 'Daniel C. Cohen is a founding partner of Consumer Attorneys LLP and co-chairs the firm’s Consumer Finance Litigation practice. Mr. Cohen also manages the firm’s client intake and development efforts.'
										},
										{
											img: 'img3.jpg',
											name: 'Daniel C. Cohen',
											specialty: 'Founding Partner',
											text: 'Daniel C. Cohen is a founding partner of Consumer Attorneys LLP and co-chairs the firm’s Consumer Finance Litigation practice. Mr. Cohen also manages the firm’s client intake and development efforts.'
										},
										{
											img: 'empty-m.png',
											name: 'Daniel C. Cohen',
											specialty: 'Founding Partner',
											text: 'Daniel C. Cohen is a founding partner of Consumer Attorneys LLP and co-chairs the firm’s Consumer Finance Litigation practice. Mr. Cohen also manages the firm’s client intake and development efforts.'
										},
										{
											img: 'img2.jpg',
											name: 'Daniel C. Cohen',
											specialty: 'Founding Partner',
											text: 'Daniel C. Cohen is a founding partner of Consumer Attorneys LLP and co-chairs the firm’s Consumer Finance Litigation practice. Mr. Cohen also manages the firm’s client intake and development efforts.'
										},
										{
											img: 'empty-w.png',
											name: 'Daniel C. Cohen',
											specialty: 'Founding Partner',
											text: 'Daniel C. Cohen is a founding partner of Consumer Attorneys LLP and co-chairs the firm’s Consumer Finance Litigation practice. Mr. Cohen also manages the firm’s client intake and development efforts.'
										},
										{
											img: 'img2.jpg',
											name: 'Daniel C. Cohen',
											specialty: 'Founding Partner',
											text: 'Daniel C. Cohen is a founding partner of Consumer Attorneys LLP and co-chairs the firm’s Consumer Finance Litigation practice. Mr. Cohen also manages the firm’s client intake and development efforts.'
										},
										{
											img: 'img3.jpg',
											name: 'Daniel C. Cohen',
											specialty: 'Founding Partner',
											text: 'Daniel C. Cohen is a founding partner of Consumer Attorneys LLP and co-chairs the firm’s Consumer Finance Litigation practice. Mr. Cohen also manages the firm’s client intake and development efforts.'
										},
										{
											img: 'empty-m.png',
											name: 'Daniel C. Cohen',
											specialty: 'Founding Partner',
											text: 'Daniel C. Cohen is a founding partner of Consumer Attorneys LLP and co-chairs the firm’s Consumer Finance Litigation practice. Mr. Cohen also manages the firm’s client intake and development efforts.'
										},
									]
								each val in team
									+cardTeam(val.img,val.name,val.specialty,val.text)
				
					.flex-center-between.pt-md-0.pt-sm-30.pt-20
						button.prev.slider-btn2(type="button")
							+icon("prev", "c-green")
						ul.dots.mx-auto.pt-md-40.pt-0
							li.active 
								button.bg-gray-100(type="button")
							li 
								button.bg-gray-100(type="button")
							li 
								button.bg-gray-100(type="button")
						button.next.slider-btn2(type="button")
							+icon("next", "c-green")