extends layout/main

block variables
	-var title = 'Practice Areas - Mixed Credit Reports'
	-var sliderG = true

block content
	main.main.main-credit-reporting
		section.first2-section
			.container.text-center 
				p.fs-20.c-white.mb-8 Credit Reporting Errors
				h1.title2Mixed Mixed Credit Reports
		nav.nav-breadcrumbs
			.container
				ul.breadcrumbs
					+breadcrumbs-item('Home','#')
					+breadcrumbs-item('Practice Areas','#')
					+breadcrumbs-item('Credit Reporting Errors','#')
					+breadcrumbs-item('Mixed Credit Reports')
		section.second2-section
			.container
				.flex-wrap.justify-content-between 
					.col-left
					
						each val in ['img4.jpg']
							+video(val)

						form.form2 
							h6.title6.left.mb-20
								span.c-green.bg-white Contact Us
							.flex-wrap.mb-md-30.mb-20
								.align-items-center.pt-12.mr-28
									.circle.mr-12 
										+icon("phone","c-dark")
									p.fs-sm-16.fs-14 (+1) 800 604 0466
								.align-items-center.pt-12
									.circle.mr-12 
										+icon("mail","c-dark")
									p.fs-sm-16.fs-14 info@consumerattorneys.com
							.flex-wrap.align-items-end 
								.w-sm-50.w-100
									p.relative.mb-12 
										label.fs-12.c-gray.mb-4 Full Name
										input(type="text" value="John Smith" required) 
										span.error-message error-message
								.w-sm-50.w-100
									p.relative.mb-12.disablied 
										label.fs-12.c-gray.mb-4 Phone Number
										input(type="number" value="4523313423" required) 
										span.error-message error-message
								.w-sm-50.w-100
									p.relative.mb-sm-12.mb-28.error 
										label.fs-12.c-gray.mb-4 Email
										input(type="email" value="john.smith" required) 
										span.error-message error-message
								.w-sm-50.w-100
									p.relative.mb-sm-12 
										span.select
											input(type="email" placeholder="Subject" required) 
										span.error-message error-message
								.w-100.mb-16
									.mb-28
									p.relative.mb-12 
										textarea(cols="20" rows="4" placeholder="Start typing here...")
										span.error-message error-message
							button.btn.ml-auto.d-block(type="submit") Send Message

					.col-right
						h6.title6.left2.mb-40
							span.circle.bg-green 
								+icon("graph","c-white")

						p.fs-24.mb-sm-48.mb-28 Have you recently discovered incorrect information on your credit report? Perhaps you’ve experienced an unexpected disaster related to your credit, such as the denial of a mortgage or a car loan? You may have a claim under the Fair Credit Reporting Act (FCRA).
						p.text.mb-28 CRAs may commonly include incorrect information from multiple parties in a single credit report, creating what is known as a “mixed credit report”. This is in violation of the FCRA, and consumers may need to rely on the abilities granted to them under the FCRA in order to repair the damage that the CRAs cause by creating mixed credit report.
						p.text.mb-28 The FCRA is a series of laws designed to protect the privacy of consumer reporting information, as well as to ensure that information reported by consumer reporting agencies (CRAs, such as TransUnion, Experian, and Equifax) and companies that supply information to CRAs are as accurate as possible.
						p.text.mb-28 In order to accomplish these goals, the FCRA provides the opportunity for consumers to hold CRAs accountable for including incorrect information on the credit reports that they produce.


		section.third2-section
			.container
				.flex-wrap.justify-content-between  
					.col-left.pt-12 
						.pb-md-24
							p.fs-24 What causes mixed credit reports?
							.my-md-36.my-28
								p.text.mb-28 There are many reasons why a CRA may mistakenly mix two credit reports.  CRAs may mistakenly include information related to one individual in a credit report of another individual with a similar name, address, or social security number. Furthermore, lenders and creditors sometimes report information to CRAs with limited identifying information, thereby causing the CRAs to incorrectly file the information in a mixed report.  Whatever the particular cause of a specific case, the result is a credit report containing information that belongs to two different consumers.  The results of this can be devastating.
						.pb-md-24
							p.fs-24 Why Should I Care About Mixed Credit reports?
							.my-md-36.my-28
								p.text.mb-28 Incorrect information contained in a mixed credit report can have potentially significant and detrimental effects, which you may not even realize until you apply for credit from a lender.  Because lenders often rely heavily on the contents of a credit report to approve a loan, a mixed credit can make it appear to a lender that you have: delinquencies, excessive hard inquiries, a disproportionate debt load, or even bankruptcy discharges.
								p.text.mb-28 That are only listed on your credit report because the CRA mistakenly mixed another person’s credit history with your own.
								p.text.mb-28 This misinformation may cause the lender to only offer you credit with unsatisfactory terms. Even worse, the misinformation may cause the lender to wrongfully refuse to extend you credit altogether. Besides the obvious financial damage these cases can cause, mixed credit report can wreak havoc on an individual’s personal life, causing an immense amount of unnecessary emotional distress.

					.col-right 

						.see-also.mb-28 
							.flex-center-between.mb-16 
								p.fs-24 See also
								.bg-green.circle3 
									+icon("graph","c-white")
							ul.see-also_list 
								each val in ['Identity Theft','Bankruptcy Reporting Errors']
									li
										a.flex-center-between(href="#") 
											spna.fs-14.c-green=val
											+icon("arrow-right","c-black")

						include layout/lawyer
				.pt-md-100.pt-40
					h6.title6.mb-28
						span.mx-auto.bg-gray News
					h4.fs-32.text-center.mb-40 Related Articles
				.flex-wrap.justify-content-center 
					- 
						cardArticles = [
							{
								title: 'How does a landlord do a background check',
								text: 'Automated housing discrimination: what do landlord look for in background checks?',
								img: 'img.jpg',
								date: '20.01.2021'
							},
							{
								title: 'What is mortgage abuse fraud',
								text: 'Your mortgage company made a mistake? Find out how to sue your mortgage company for error reporting.',
								img: 'img.jpg',
								date: '20.01.2021'
							},
							{
								title: 'What is robocall and how does it work',
								text: 'How to report robocall who keep calling at night and how to stop annoying robocall?',
								img: 'img.jpg',
								date: '20.01.2021'
							},
							{
								title: 'When an employer does a background check',
								text: 'How do you know if you failed an employer background check? And what do if there are errors in my backgroun...',
								img: 'img.jpg',
								date: '20.01.2021'
							}
						]
					each val, index in cardArticles
						+cardArticle(val.title,val.text,val.img,val.date)
				a.btn.btn2.mx-auto.mt-40(href="#") View all articles

		section.fourth2-section 
			.container 
				h6.title6.left.mb-md-20.mb-10 
					span.c-green.bg-white Practice Areas
				.flex-md-center-between.pb-md-36
					h2.title2.mb-24 Our Practice Areas
					a.btn.mb-md-24.mb-40(href="#") Explore more
				include layout/slider2

		section.asked-section 
			.container 
				.flex-wrap.justify-content-between 
					h2.title2.c-white.pt-md-28 Frequently <br class="d-lg-block d-none"> Asked <br class="d-lg-block d-none"> Questions
					ul.asked-list
						li
							.justify-content-between.asked-action.active
								p.c-white.lh-20 Is it possible to recover a monetary settlement under the FCRA? 
								+icon("arrow-down","c-green")
							.asked-dropdown(style="display: block")
								p.fs-14.c-gray-100 Along with the peace of mind of a corrected credit report, a consumer may be eligible for monetary compensation for damage caused by a mixed credit report. In one case, a woman in Oregon was awarded $18.4 million after successfully suing Equifax for failing to correct her mixed credit report.
						li
							.justify-content-between.asked-action
								p.c-white.lh-20 Can Consumer Attorneys help protect my rights?
								+icon("arrow-down","c-green")
							.asked-dropdown
								p.fs-14.c-gray-100 The FCRA offers broad protections for consumers whose credit scores or access to loans may have been negatively affected by inaccurate information -- but it’s a complicated law, and victims of erroneous reports may find that they don’t meet certain requirements to file lawsuits against companies that are responsible for error-ridden reports. Consumers who have been unsuccessful in repeated efforts to correct their credit reports should consider hiring an attorney to take on companies that may be damaging their financial livelihoods. The team at Consumer Attorneys LLP is well versed in the complexities of the FCRA -- and will fight for consumers who find themselves being financially harmed by identity theft or by misinformation being peddled by companies and credit reporting bureaus.

