extends layout/main

block variables
	-var title = 'Why choose Consumer Attorneys?'
	-var sliderG = true

block content
	main.main.main-why-choose
		section.first2-section
			.container
				h1.title2.text-center Why choose Consumer Attorneys?
		section.second2-section
			.container
				.flex-wrap.justify-content-between.flex-lg-row.flex-column-reverse
					.w-lg-50.pr-lg-14
						p.fs-24.mb-md-48.mb-28 The rights of employees, consumers and disabled people are protected under a wide array of local, state and federal laws. Financial institutions nationwide, however, regularly violate consumer rights by utilizing their considerable resources to get off the hook by heavily litigating expensive court battles.
						p.mb-28.text This is not what Congress intended when it passed these consumer protection statutes, \and these financial institutions must be held accountable for their malicious wrongdoings. Consumers should not be required to confront these financial institutions on their own, and Congress permitted private attorneys to step in and protect the rights of innocent consumers.

						p.mb-28.text The team at Consumer Attorneys fights for the rights of plaintiffs who have been wronged -- and will ensure that they receive just financial compensation for their injuries. 

					.w-lg-50.pl-lg-14.relative.z-2 
						img.image1(src="img/common/image7.jpg", alt="image")
						img.img-shield3_v2.d-lg-block.d-none(src="img/common/shield3.png", alt="shield")

		section.third2-section
			.container
				.flex-wrap.pb-md-50.pb-8 
					- 
						card = [
							{
								icon: 'record',
								title: 'A Track Record Of Excellence',
								text: 'The team at Consumer Attorneys has years of proven experience fighting -- and winning -- lawsuits brought under the Americans with Disabilities Act, the Fair Credit Reporting Act and other federal laws designed to protect ordinary people from abuse by companies and institutions.'
							},
							{
								icon: 'determination',
								title: 'The Determination To Fight For Consumers’ Rights',
								text: 'Many times the most cost efficient an effective way for consumers to take on companies that they allege have acted in bad faith is to band together in a class-action lawsuit. Consumer Attorneys has had proven success in class-action litigation and have the skills and resources needed to devote personalized attention to each individual case.'
							},
							{
								icon: 'passion',
								title: 'The Passion To Hold Institutions Accountable',
								text: 'Court battles are not easy, especially against powerful institutions with deep pockets and large teams of lawyers. The team at Consumer Attorneys provides  competent and passionate legal representation while fighting for your rights in courts around the country.'
							}
						]
					each val in card
						.card 
							.align-items-center 
								.ellipse.mr-20 
									+icon(val.icon)
								p.fs-20.fw-semi=val.title
							hr
							p.text=val.text
						
				.flex-wrap.justify-content-between  
					.col-left.pt-12 
						h6.title6.left.mb-md-20.mb-10 
							span.c-green.bg-gray Consumer Attorneys
						h2.title2.mb-md-40.mb-28 Our Path To Victory 
						.mb-lg-80
							p.mb-md-36.mb-28 Consumer Attorneys begin commences the actions by first reaching out to the institution blamed for wrongdoing -- at which point it might respond with a settlement in exchange for the consumer/employee/tenant to drop their case.
							.mb-md-36.mb-28
								p.text.mb-28 But some companies faced with the threat of a court battle may try to offer a settlement amount far below what a consumer deserves for their pain and suffering. Some may refuse to pay anything at all.
								p.text.mb-28 We won’t let bad actors get off the hook without a fight. If an institution or company refuses to be held accountable for the injuries it inflicts, Consumer Attorneys will push hard for a judge to rule in your favor and award you just compensation.
								p.text.mb-28 If that proves to be unsuccessful, Consumer Attorneys will then demand that the matter go before a jury, which could result in an even larger payout for the consumer.
						
						h6.title6.left.mb-md-20.mb-10
							span.c-green.bg-gray Consumer Attorneys
						h2.title2.mb-md-40.mb-28 Legal Representation You Can Trust
						p.mb-md-36.mb-28 We get it -- taking an employer or a big company to court seems like a nearly impossible task. A court battle can be draining and it could be months or even years before a consumer sees the compensation they deserve.
					
						p.text But that doesn’t mean plaintiffs should suffer financial pain for taking the prudent step of hiring an attorney. Consumer Attorneys will not take a dime from a client to take on their case until it reaches a settlement or the case is resolved in favor of the plaintiff.
					.col-right
						form.form3
							.mb-28
								.align-items-center
									.circle.big.mr-12 
										+icon("phone","c-white")
									p.fs-14.c-white (+1) 800 604 0466
								.align-items-center.pt-12 
									.circle.big.mr-12 
										+icon("mail","c-white")
									p.fs-14.c-white info@consumerattorneys.com
							p.mb-12.relative 
								label.form-label Full Name
								input.input(type="text" value="John Smith" required )
								span.error-message error-message
							p.mb-12.relative  
								label.form-label(disablied) Phone Number
								input.input(type="number" value="4523313423"  )
								span.error-message error-message
							p.mb-28.relative  
								label.form-label Email
								input.input(type="email" value="john.smith@mail.com" required )
								span.error-message error-message
							p.mb-28.relative
								span.select.select-navy
									input(type="email" placeholder="Subject" required) 
								span.error-message error-message
							p.mb-28.relative
								textarea.textarea(cols="20" rows="4" placeholder="Start typing here...")
								span.error-message error-message
							button.btn.w-100(type="submit") Send Message