footer.footer2
    .flex-wrap.footer-bottom
        p.fs-12.c-white.mr-12.mb-10 © 2020 Consumer Attorneys. All Rights Reserved.
        ul.d-flex.mb-10 
            each val in ['Privacy Policy', 'Terms of use']
                li  
                    a.c-green.fs-12(href="#")=val
